<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.mimic.usagestatistics"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

    <uses-permission
        android:name="android.permission.GET_TASKS"
        tools:ignore="" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme1">
        <receiver
            android:name="ca.mimic.usagestatistics.BootStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.mimic.usagestatistics.SCREEN_ON_REFRESH" />
            </intent-filter>
        </receiver>

        <service
            android:name="ca.mimic.usagestatistics.WatchfulService"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:process=":appwatch">

        </service>

        <activity
            android:name="ca.mimic.usagestatistics.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.mimic.usagestatistics.Instructions"
            android:label="@string/instructions_title"
            android:parentActivityName="ca.mimic.usagestatistics.Settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mimic.usagestatistics.Settings" />
        </activity>
        <activity android:name="ca.mimic.usagestatistics.AddApp"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Utils.PasswordSetActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:name=".Utils.PasswordRecoverSetActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

        <activity
            android:name=".Utils.PasswordRecoveryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".Utils.PasswordActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Utils.PasswordOldActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Utils.PasswordChange"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"></activity>
        <service
            android:name=".services.AppCheckServices"
            android:exported="false" />
        <receiver
            android:name=".services.AlarmReceiver">
        </receiver>
    </application>

</manifest>